/*
Creator: Karl Lane
Date created: January 03, 2019
Date last modified: January 04, 2019
*/

body {
	background-color: #E6F3FF;
	font-family: Times New Roman, arial, helvetica, sans-serif;
	color: #0D1F2D;
	max-width: 750px;
	margin: 0 auto;
	border: 0.5px solid #546A7B;
}

header, footer {
	background-color: #5B7D87;
	color: #FEF9FF;
	height: 95px;
	text-align: center;
	padding: 15px;
}

h1, h2 {
	font-size: 2.5em;
	text-align: center;
}

table, th, td {
	text-align: left;
	padding: 15px;
}


